.bg-custom {
    background-color:#77A6F7;
}
.landing{
    display: flex;
    align-items: center;
    min-height: 83vh;
    background-image: url("./images/banner_007.jpg");
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    position: absolute;
    width:100%;
    bottom: 0;
}
.btn-submit{
    background-color: #77A6F7;
    border-color: #77A6F7;
    color:white;
}
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}